In [283]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [11]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [12]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [13]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [14]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]

In [16]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [17]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [18]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill, Designations, and Companies” field.
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually.

In [230]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver.get('https://www.naukri.com/')

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [231]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [232]:
loc_filter=driver.find_elements(By.XPATH,'//p[@class="grey-text lH20 fleft ml-8 txtLbl"]//span')
for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [233]:
sal_filter=driver.find_elements(By.XPATH,'//p[@class="grey-text lH20 fleft ml-8 txtLbl"]//span')
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [234]:
job_title=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
job=[]
for i in job_title:
    job.append(i.text)

In [235]:
loc=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in loc:
    location.append(i.text)

In [236]:
company_name=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
company=[]
for i in company_name:
    company.append(i.text)

In [237]:
exp_req=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for i in exp_req:
    experience.append(i.text)

In [238]:
df=pd.DataFrame()
df["JOB_TITLE"]=job[:10]
df["JOB_LOCATION"]=location[:10]
df["COMPANY_NAME"]=company[:10]
df["EXPERIENCE_REQUIRED"]=experience[:10]
df

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
8,Data Scientist,Noida,NGI Ventures,0-5 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price To scrape the data you have to go through following steps:
Go to Flipkart webpage by url : https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
Now scrape data from this page as usual
Repeat this until you get data for 100 sunglasses.

In [187]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url=('https://www.flipkart.com/')
driver.get(url)
driver.maximize_window()

In [188]:
email_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- VJZDxU"]')
email_btn.send_keys('9819452589')
password_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- _3mctLh VJZDxU"]')
password_btn.send_keys("Angel@160590")
login_btn=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2HKlqd _3AWRsL"]')
login_btn.click()

In [189]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [190]:
def brand_name(url):
    brand=[]
    driver.get(url)
    try:
        brand_el=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
        time.sleep(3)
        
        for i in brand_el:
            brand.append(i.text)
        driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        
        return brand
    except StaleElementReferenceException as e:
        print("exception raised",e)

In [191]:
def product_des(url):
    product_des=[]
    driver.get(url)
    product_el=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
                product_des.append("--")
                
    return product_des

In [192]:
def scrape_price(url):
    price=[]
    driver.get(url)
    price_el=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        except:
            price.append("--")
            
    return price

In [34]:
brand_list=[]
product_list=[]
price_list=[]
urls='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
for i in ['1','2','3']:
    
    url=urls+i
    time.sleep(5)
    brand=brand_name(url)
    brand_list.extend(brand) 
    product=product_des(url)
    product_list.extend(product)
    price=scrape_price(url)
    price_list.extend(price)

In [35]:
length=[len(brand_list),len(product_list),len(price_list)]
length

[120, 120, 120]

In [36]:
df=pd.DataFrame()
df["BRAND"]=brand_list[:100]
df["PRODUCT_DESCRIPTION"]=product_list[:100]
df["PRICE"]=price_list[:100]
df

                BRAND                                PRODUCT_DESCRIPTION PRICE
0            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
1               NuVew              UV Protection Aviator Sunglasses (57)  ₹198
2   SHAAH COLLECTIONS                UV Protection Round Sunglasses (54)  ₹179
3             DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...  ₹249
4   SHAAH COLLECTIONS   UV Protection, Mirrored Wayfarer Sunglasses (54)  ₹179
..                ...                                                ...   ...
95             PIRASO          UV Protection Rectangular Sunglasses (52)  ₹246
96  SHAAH COLLECTIONS              UV Protection Aviator Sunglasses (54)  ₹179
97  SHAAH COLLECTIONS   UV Protection, Mirrored Wayfarer Sunglasses (54)  ₹179
98              NuVew             UV Protection Wayfarer Sunglasses (57)  ₹157
99  SHAAH COLLECTIONS   UV Protection Rectangular Sunglasses (Free Size)  ₹179

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

First get the webpage https://www.flipkart.com/
Enter “iphone 11” in “Search” field .
Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:

Rating
Review summary
Full review
You have to scrape this data for first 100 reviews.

In [360]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

In [361]:
email_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- VJZDxU"]')
email_btn.send_keys('9819452589')
password_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- _3mctLh VJZDxU"]')
password_btn.send_keys("Angel@160590")
login_btn=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2HKlqd _3AWRsL"]')
login_btn.click()

In [362]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iphone 11')
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [366]:
iphone=driver.find_element(By.CLASS_NAME,'_4rR01T')
iphone.click()

In [368]:
url1='https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART'

In [369]:
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [370]:
def scrape_review_summary():
    review_sum=[]
    driver.refresh()
    rev_sum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    time.sleep(3)
    for i in rev_sum:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

In [371]:
def scrape_full_review():
    full_review=[]
    driver.refresh()
    rev_el=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div')
    time.sleep(3)
    for i in rev_el:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review

In [ ]:
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    rating.extend(scrape_rating())
    review_sum.extend(scrape_review_summary())
    full_review.extend(scrape_full_review())
    time.sleep(3)
    length=len(rating)
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_btn.click()
    
len(review_sum)

In [ ]:
length_list=[len(full_review),len(rating),len(review_sum)]
length_list

In [ ]:
df=pd.DataFrame()
df["INDEX"]=range(1,101)
df["RATING"]=rating[:100]
df["REVIEW_SUMMARY"]=review_sum[:100]
df["FULL_REVIEW"]=full_review[:100]
df.set_index("INDEX",inplace=True)
df

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand
Product Description
Price

In [49]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [51]:
email_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- VJZDxU"]')
email_btn.send_keys('9819452589')
password_btn=driver.find_element(By.XPATH,'//input[@class="_2IX_2- _3mctLh VJZDxU"]')
password_btn.send_keys("Angel@160590")
login_btn=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2HKlqd _3AWRsL"]')
login_btn.click()

In [52]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [53]:
def scrape_brand():
    brand=[]
    brand_el=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
    return brand

In [54]:
def scrape_product_des():
    product_des=[]
    des_el=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    print(len(des_el))
    time.sleep(3)
    for i in des_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
    return product_des

In [55]:
def scrape_price():
    price=[]
    price_el=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
    return price

In [56]:
brand=[]
product_des=[]
price=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    product_des.extend(scrape_product_des())
    price.extend(scrape_price())
    time.sleep(3)
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
    next_btn.click()
    length=len(brand)
len(price)

1
1
1

120

In [57]:
length_list=[len(brand),len(product_des),len(price)]
length_list

[120, 3, 120]

In [ ]:
sneakers=pd.DataFrame()
sneakers["INDEX"]=range(1,101)
sneakers["BRAND"]=brand[:100]
sneakers["PRODUCT_DESCRIPTION"]=product_des[:100]
sneakers["PRICE"]=price[:100]
sneakers.set_index("INDEX",inplace=True)
sneakers

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

In [58]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.myntra.com/shoes'
driver.get(url)
driver.maximize_window()

In [59]:
price_filter=driver.find_elements(By.XPATH,'//label[@class="common-customCheckbox vertical-filters-label"]')

price_filter[7].click()

In [60]:
colour_filter=driver.find_elements(By.XPATH,'//label[@class="common-customCheckbox"]')

colour_filter[0].click()

In [61]:
def scrape_brand():
    brand=[]
    brand_el=driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]')
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
            
    return brand

In [62]:
def scrape_des():
    description=[]
    des_el=driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]/h4')
    time.sleep(3)
    for i in des_el:
        try:
            description.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            description.append("--")
    return description

In [63]:
def scrape_price():
    price=[]
    price_el=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
    return price

In [64]:
brand=[]
description=[]
price=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    description.extend(scrape_des())
    price.extend(scrape_price())
    time.sleep(3)
    length=len(brand)
    next_btn=driver.find_element(By.XPATH,'//li[@class="pagination-next"]/a')
    next_btn.click()
    
len(price)

200

In [65]:
length_list=[len(brand),len(description),len(price)]
length_list

[150, 400, 200]

In [66]:
description_new=[]
for i in range(0,300,2):
    description_new.append(description[i])
description_new

['Men Walking Shoes',
 'Men AMG Petronas F1 Sneakers',
 'Men Colourblocked PU Sneakers',
 'Men Sneakers',
 'Men Printed Slip-On Sneakers',
 'Men Aqua Shoes',
 'Men Running Shoes',
 'Men Edgility Running Shoes',
 'Men Printed Slip-On Sneakers',
 'Men TR-100 Training Shoe',
 'Men Running Shoes',
 'Men Casual Sneakers',
 'Men Walking Shoes',
 'Men Go Run Fast Training Shoes',
 'Women Flat Boots',
 'Men Black Solid Formal Debys',
 'Men Go Walk Walking Shoes',
 'Men SoftFoam Running',
 'Walking Shoes',
 'Men Perforations Fashion',
 'Men Walking Shoes',
 'Men Trekking Shoes',
 'Men Aqua Shoes',
 'Men Solid Horsebit Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Monks',
 'Men Street Run Running Shoes',
 'Run Swift Running',
 'Men Textured Sneakers',
 'Flex Essential Running Shoes',
 'Men Running Shoes',
 'Men Sneakers',
 'Unisex MAPF1 Drift Sneakers',
 'Men RSO2312-Black Walking',
 'Men MONTON 4.0 Sneakers',
 'Men Loafers',
 'Unisex Textured Trekking Shoes',
 'Men PWRFrame Training Shoes',
 'Men Flex Experience Running',
 'Men Sneakers',
 'Men Running Shoes',
 'Women Mules Flats',
 'Men Walking Shoes',
 'Men Solid Leather Loafers',
 'Men Printed High-Top Sneakers',
 'Men PU Casual Sneakers',
 'Men Black Walking Shoes',
 'Men Solid Running Shoes',
 'Men Running Shoes',
 'Men Leather Shoes',
 'Men Leather Shoes',
 'Unisex Varion Training Shoes',
 'Men Mech Dune Running Shoes',
 'Men Solid Leather Derbys',
 'Men Running Shoes',
 'Unisex Slip-On Sneakers',
 'Men Textured Formal Derbys',
 'Men Colourblocked PU Sneakers',
 'Women Solid Heeled Boots',
 'High-Top Block Gladiators',
 'Semi-Formal Shoes',
 'Kids Revolution 4 Running',
 'Men Running Shoes',
 'Men Solid Sneakers',
 'Men PWRFrame Training Shoes',
 'Men ULTRA FLEX 2.0 Sneakers',
 'Men Alpha Running shoe',
 'Men Claudious 3.0 Walking',
 'Men RSO2611-6-BLACK Walking',
 'Men Running Shoes',
 'Men Running Shoes',
 'Women Running Shoes',
 'Men Running Shoes',
 'Men Volga Trekking Shoes',
 'Men Woven Design Sneakers',
 'Men Woven Flat Boots',
 'Men Metalite Running shoe',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Running Shoes',
 'Women Sandals',
 'Men Walking Shoes',
 'Men Shore Running Shoes',
 'Men Humble IDP Sneakers',
 'Men Walking Shoes',
 'Men Woven Design Slip-On Sneakers',
 'Men Runmagica Running Shoes',
 'Men Formal Oxfords Shoes',
 'Men PU Derbys',
 'Women Colourblocked Sneakers',
 'Men Solid Leather Derbys',
 'Softride Vital Shoes',
 'Men Leather Slip-on Shoes',
 'Men Solid Running Shoes',
 'Men Front Runner Shoes',
 'Go Walk Stability Advanceme',
 'Men Walking Shoes',
 'Women Colourblocked Sneakers',
 'women Party Block Mules',
 'Men Solid Loafers',
 'Men Running Shoes',
 'Men Solid Formal Loafers',
 'Women Mules Flats',
 'Men UA Mojo 2 Running Shoes',
 'Men Woven Design Sneakers',
 'Men Running Shoes',
 'Men Running Shoes',
 'Men Reyton Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Textured Sneakers',
 'Men Solid Formal Oxfords',
 'Women Solid Flats With Buckles',
 'Men DRAGON Running Shoes',
 'Kids REVOLUTION 4 Shoes',
 'Men Solid Formal Loafers',
 'Women Training or Gym Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Solid Formal Oxford Shoes',
 'Men Sneakers',
 'Men Textured Trekking Shoes',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Women T-Strap Flats',
 'Running Gamble XT IDP Shoes',
 'Women Sandals',
 'Men Woven Design Loafers',
 'Men Textured Loafers',
 'Women Air Max Bella Training',
 'Men Running Shoes',
 'Wedge Sandals',
 'Men Go Run Fast Shoes',
 'Men Flex Experience Runners',
 'Softride Rift Walking Shoes',
 'Men Striped Sneakers',
 'Chelsea Boots',
 'Men Suede Loafers',
 'Men Textured Formal Derby',
 'Men Sneakers',
 'Running Propel EL IDP Shoes',
 'Men Loafers',
 'Men Colourblocked Sneakers',
 'Women High-Top Flat Boots',
 'Women Go run Fast- Valor',
 'Men Running Shoes',
 'Men Woven Design Running Shoes',
 'Men Sneakers',
 'Men Running Shoes']

In [67]:
shoes=pd.DataFrame()
shoes["INDEX"]=range(1,101)
shoes["BRAND"]=brand[:100]
shoes["SHORT_DESCRIPTION"]=description_new[:100]
shoes["PRICE"]=price[:100]
shoes.set_index("INDEX",inplace=True)
shoes

,BRAND,SHORT_DESCRIPTION,PRICE
INDEX,,,
1,Red Tape\nMen Walking Shoes\nRs. 1143Rs. 5199(...,Men Walking Shoes,Rs. 1143Rs. 5199(78% OFF)
2,PUMA Motorsport\nMen AMG Petronas F1 Sneakers\...,Men AMG Petronas F1 Sneakers,Rs. 3999Rs. 7999(50% OFF)
3,Bond Street By Red Tape\nMen Colourblocked PU ...,Men Colourblocked PU Sneakers,Rs. 1274Rs. 5099(75% OFF)
4,Roadster\nMen Sneakers\nRs. 796Rs. 3795(79% OFF),Men Sneakers,Rs. 796Rs. 3795(79% OFF)
5,GRIFFIN\nMen Printed Slip-On Sneakers\nRs. 199...,Men Printed Slip-On Sneakers,Rs. 1999Rs. 3599(Rs. 1600 OFF)
...,...,...,...
96,WROGN\nMen Solid Running Shoes\nRs. 2474Rs. 44...,Men Solid Running Shoes,Rs. 2474Rs. 4499( 45 % OFF)
97,HRX by Hrithik Roshan\nMen Front Runner Shoes\...,Men Front Runner Shoes,Rs. 1799Rs. 3999( 55 % OFF)
98,Skechers\nGo Walk Stability Advanceme\nRs. 559...,Go Walk Stability Advanceme,Rs. 5599Rs. 6999(20% OFF)
99,Red Tape\nMen Walking Shoes\nRs. 1385Rs. 6299(...,Men Walking Shoes,Rs. 1385Rs. 6299(78% OFF)
100,AfroJack\nWomen Colourblocked Sneakers\nRs. 79...,Women Colourblocked Sneakers,Rs. 799Rs. 3995(80% OFF)

Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [284]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.amazon.in/'
driver.get(url)
driver.maximize_window()

In [285]:
search_col=driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_col.send_keys('Laptop')

search_button=driver.find_elements(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_button[1].click()

In [288]:
cpu_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[13]/span/a/span')
cpu_filter.click()
time.sleep(2)

In [289]:
title_el=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

['ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/2 Yr Warranty/Backlit Kb/Black/0.997 kg, 4ZR1F38027)',
 'ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FHD OLED, Intel EVO Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/1TB SSD/Iris Xe Graphics/Windows 11/Office 2021/Mist/1.14 kg), UX325EA-KG701WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/512 GB SSD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.2 kg) AN515-57',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED 2 in 1 Touch Screen Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN']

In [290]:
price_el=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
price=[]
for i in price_el[:10]:
    price.append(i.text)
price

['77,990',
 '1,00,000',
 '93,290',
 '80,990',
 '79,990',
 '77,990',
 '77,990',
 '89,990',
 '86,990',
 '98,290']

In [294]:
ratings=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')   
for i in ratings:
    rating.append(i.get_attribute('aria-label'))

In [295]:
laptop_df=pd.DataFrame()
laptop_df['INDEX']=range(1,11)
laptop_df['TITLE']=title[:10]
laptop_df['RATING']=rating[:10]
laptop_df['PRICE']=price[:10]
laptop_df.set_index('INDEX',inplace=True)
laptop_df

,TITLE,RATING,PRICE
INDEX,,,
1,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"77,990"
2,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.2 out of 5 stars,"1,00,000"
3,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",4.3 out of 5 stars,"93,290"
4,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.2 out of 5 stars,"80,990"
5,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.5 out of 5 stars,"79,990"
6,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"77,990"
7,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"77,990"
8,"Acer Nitro 5 Core i7 11th Gen 15.6"" (39.62cms)...",4.2 out of 5 stars,"89,990"
9,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",3.9 out of 5 stars,"86,990"
10,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,2.9 out of 5 stars,"98,290"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.

In [149]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()

In [150]:
jobs=driver.find_element(By.XPATH,'//a[@class="navItemLink"]')
jobs.click()

In [151]:
job_option=driver.find_element(By.XPATH,'//input[@title="Enter Designation, Company or a Skill"]')
job_option.send_keys('Date Scientist')

In [152]:
search=driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]')
search.click()

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

In [173]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()