In [1]:
import selenium
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.alert import Alert
import time
import requests
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Vi

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [3]:
# Creating empty list for scaping the data

Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []

In [4]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraoing Name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
# Scraping Artist of the video
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

# Scraping Uploaded date of the video
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append("_")
    
# Scraping Views of videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [5]:
# Creating DataFrame fr scraped data
YouTube = pd.DataFrame({})
YouTube['Rank']=Rank
YouTube['Name']=Name
YouTube['Artist']=Artist
YouTube['Upload Date']=Upload_Date
YouTube['Views']=Views

In [6]:
YouTube

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,11.62,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.00,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[13]",LooLoo Kids,6.51,"October 8, 2016"
3,4.,"""Shape of You""[14]",Ed Sheeran,5.84,"January 30, 2017"
4,5.,"""Bath Song""[16]",Cocomelon – Nursery Rhymes,5.69,"May 2, 2018"
5,6.,"""See You Again""[17]",Wiz Khalifa,5.68,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[22]",ChuChu TV,4.98,"March 6, 2014"
7,8.,"""Uptown Funk""[23]",Mark Ronson,4.74,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[24]",Miroshka TV,4.70,"February 27, 2018"
9,10.,"""Gangnam Style""[25]",Psy,4.59,"July 15, 2012"
10,11.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.53,"May 24, 2018"
11,12.,"""Masha and the Bear – Recipe for Disaster""[31]",Get Movies,4.51,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[32]",El Chombo,4.12,"April 5, 2018"
13,14.,"""Sugar""[33]",Maroon 5,3.78,"January 14, 2015"
14,15.,"""Roar""[34]",Katy Perry,3.68,"September 5, 2013"
15,16.,"""Counting Stars""[35]",OneRepublic,3.67,"May 31, 2013"
16,17.,"""Sorry""[36]",Justin Bieber,3.60,"October 22, 2015"
17,18.,"""Axel F""[37]",Crazy Frog,3.57,"June 16, 2009"
18,18.,"""Thinking Out Loud""[38]",Ed Sheeran,3.51,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.41,"June 25, 2018"
20,21.,"""Dark Horse""[40]",Katy Perry,3.38,"February 20, 2014"
21,22.,"""Faded""[41]",Alan Walker,3.36,"December 3, 2015"
22,23.,"""Girls Like You""[42]",Maroon 5,3.34,"May 31, 2018"
23,24.,"""Let Her Go""[43]",Passenger,3.33,"July 25, 2012"
24,25.,"""Bailando""[44]",Enrique Iglesias,3.29,"April 11, 2014"
25,26.,"""Perfect""[45]",Ed Sheeran,3.29,"November 9, 2017"
26,27.,"""Lean On""[46]",Major Lazer,3.28,"March 22, 2015"
27,28.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.28,"June 4, 2010"
28,29.,"""Shake It Off""[48]",Taylor Swift,3.22,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.20,"January 26, 2018"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [7]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [8]:
btn=driver.find_element(By.XPATH,'//li[@class="nav-item"]/a[1]')
driver.get(btn.get_attribute("href"))
time.sleep(3)

In [9]:
# Creating empty lists for scraping the data

Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [10]:
for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    Match_Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h5[@class="fix-text"][2]/span'):
    Series.append(i.text)

for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
    

# Creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": Date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,6th T20I -,ICC MENS T20 WORLD CUP 2022,"Adelaide Oval,",10 NOV 2022,1:30 PM IST
1,1st T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Sky Stadium,",18 NOV 2022,12:00 PM IST
2,2nd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Bay Oval,",20 NOV 2022,12:00 PM IST
3,3rd T20I -,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,"Mclean Park,",22 NOV 2022,12:00 PM IST
4,1st ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Eden Park,",25 NOV 2022,7:00 AM IST
5,2nd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Seddon Park,",27 NOV 2022,7:00 AM IST
6,3rd ODI -,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,"Hagley Oval,",30 NOV 2022,7:00 AM IST
7,1st ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",4 DEC 2022,12:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [11]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)

In [12]:
# Creating empty list
Name = []
Description = []

In [13]:
#Clicking on Selenium button
driver.find_element(By.XPATH,'//a[@data-lasso-id="147434"]').click()

In [14]:
#Clicking on Exception Handling button
driver.find_element(By.XPATH,'//a[@data-lasso-id="182688"]').click()

In [15]:
#Scraping Name
for i in driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p[1]/strong'):
            Name.append(i.text)

#Scraping Description
for i in driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p[1]'):
            Description.append(i.text)
        
# creating the dataframe from the scraped data
Selenium=pd.DataFrame({})
Selenium['Exception_Name']=Name
Selenium['Description']=Description
Selenium

,Exception_Name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [16]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('http://statisticstimes.com/')
driver.get(url)

In [17]:
# Clicking on Economy button
driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button').click()

In [18]:
# Clicking on India
driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/div/a[3]').click()
time.sleep(3)

In [20]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [21]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[3]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[4]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr[@role="row"]/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")
    
# Creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share(18-19)'] = Share
GDP[' GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

ASSIGNMENT

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [22]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://github.com/')
driver.get(url)

In [23]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
try:
    explore.click()
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [24]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [31]:
URLs = []
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []
lang = []

In [32]:
#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [33]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    Repository_title.append(i.text)

In [34]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
    # Scraping Repository Description data
    try:
        desc = driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
        for i in desc:
            Repository_description.append(i.text)
    except NoSuchElementException:
            Repository_description.append('NA')
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors_count.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors_count.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language_used.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [35]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 24 25 25

In [36]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = Repository_title[:24]
Github['Repository description'] = Repository_description
Github['Contributors count'] = Contributors_count[:24]
Github['Language used'] = Language_used[:24]
Github

,Repository title,Repository description,Contributors count,Language used
0,stashapp / stash,"An organizer for your porn, written in Go",117,"[Go, TypeScript, SCSS, Makefile, Python, Shell..."
1,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",695,"[Ruby, JavaScript, SCSS, Haml, HTML, Dockerfil..."
2,geohot / tinygrad,You like pytorch? You like micrograd? You love...,68,"[Python, Verilog, C, Objective-C++, C++, Shell..."
3,microsoft / PowerToys,Windows system utilities to maximize productivity,316,"[C#, C++, C, PowerShell, HTML, HLSL]"
4,alibaba / higress,Next-generation Cloud Native Gateway,8,"[C++, Go, C, Starlark, Shell, Makefile, Smarty]"
5,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,206,"[Java, C++, HTML, C, Python, Shell, Other]"
6,jwasham / coding-interview-university,A complete computer science study plan to beco...,278,[]
7,huggingface / diffusion-models-class,Materials for the Hugging Face Diffusion Model...,2,[]
8,tiangolo / typer,"Typer, build great CLIs. Easy to code. Based o...",31,"[Python, Shell]"
9,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,51,"[Rust, TypeScript, Java, JavaScript, SCSS, CSS..."
10,Netflix / conductor,Conductor is a microservices orchestration eng...,202,"[Java, Groovy, JavaScript, TypeScript, Dockerf..."
11,Budibase / budibase,"Low code platform for creating internal tools,...",71,"[JavaScript, Svelte, TypeScript, Shell, Handle..."
12,LSPosed / MagiskOnWSALocal,The content behind MDN Web Docs,13,"[Shell, Python]"
13,mdn / content,Projeto desenvolvido durante a Next Level Week...,"2,814",[Markdown]
14,rocketseat-education / nlw-copa-ignite,A black hole for Internet advertisements,2,"[TypeScript, JavaScript, Other]"
15,pi-hole / pi-hole,"✅ Solutions to LeetCode by Go, 100% test cover...",211,"[Shell, Python, Roff, Other]"
16,halfrost / LeetCode-Go,EhViewer overhauled with Material Design 3 and...,42,"[Go, HTML, SCSS, CSS, JavaScript, Python]"
17,Ehviewer-Overhauled / Ehviewer,Windows Package Manager CLI (aka winget),37,"[Java, Kotlin, C, CMake]"
18,microsoft / winget-cli,openpilot is an open source driver assistance ...,80,"[C++, C, C#, Assembly, PowerShell, Ada, Other]"
19,commaai / openpilot,立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记,364,"[Python, C++, C, Cython, MATLAB, Shell, Other]"
20,lidangzzz / How-to-run,🏡 Open source home automation that puts local ...,-,"[TypeScript, Solidity]"
21,home-assistant / core,🐍🎮 pygame (the library) is a Free and Open Sou...,"2,984",[Python]
22,pygame / pygame,Pi-hole in a docker container,238,"[C, Python, Cython, Shell, Objective-C, Makefi..."
23,pi-hole / docker-pi-hole,"A scalable, distributed, collaborative, docume...",121,"[Shell, Python, Dockerfile]"

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
    
You have to find the following details:


    A) Song name

    B) Artist name

    C) Last week rank

    D) Peak rank

    E) Weeks on board

    Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [45]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
driver.maximize_window()
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [46]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [47]:
Top_100=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a').click()

In [48]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [49]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [50]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

#Remaining Rank
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [51]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [52]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [53]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [54]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Anti-Hero,Taylor Swift,-,1,1
1,Lavender Haze,Taylor Swift,-,2,1
2,Maroon,Taylor Swift,-,3,1
3,Snow On The Beach,Taylor Swift Featuring Lana Del Rey,-,4,1
4,Midnight Rain,Taylor Swift,-,5,1
...,...,...,...,...,...
95,Dark Red,Steve Lacy,82,67,10
96,From Now On,Lil Baby Featuring Future,,,
97,Forget Me,Lewis Capaldi,73,44,16
98,Miss You,Oliver Tree & Robin Schulz,,,
99,Despecha,Rosalia,56,8,20

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

You have to find the following details:

    A) Name

    B) Designation

    C) Company

    D) Skills they hire for

    E) Location

    Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [55]:
driver=webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

## No tab as recruiters on Naukri page

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/

You have to find the following details:

    A) Book name

    B) Author name

    C) Volumes sold

    D) Publisher

    E) Genre

In [56]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [57]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [58]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [59]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

    A) Name

    B) Year span

    C) Genre

    D) Run time

    E) Ratings

    F) Votes

In [60]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [61]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [62]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,078,349"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,168,620"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"979,319"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,520"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,582"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,969"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,097"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,600"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,422"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,748"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

You have to find the following details:

    A) Dataset name

    B) Data type

    C) Task

    D) Attribute type

    E) No of instances

    F) No of attribute

    G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
# connect to webdriver
driver = webdriver.Chrome(r"C:\Program Files\chromedriver.exe")
# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [3]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [4]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [5]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [6]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [7]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
        
      
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [8]:
# Creating dataframe 

ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990